<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sdu.mapper.MovieMapper">


    <select id="getAllMovies" resultType="com.sdu.pojo.Movie">
        select *
        from movie
    </select>

    <select id="getTop10Movies" resultType="com.sdu.pojo.Movie">
        select *
        from movie
        limit 0, 10
    </select>

    <!--  通过用户输入的关键词keyword查找电影  -->
    <select id="getMoviesByKeyword" resultType="com.sdu.pojo.Movie">
        select *
        from movie
        where 1 = 1
        <if test="keyword != null">
            and name like concat('%', #{keyword}, '%')
        </if>
    </select>

    <!--  查找Top250的电影
    （原本应按分数排序，但会有一些歌曲分很高，而且豆瓣本身也不是只按照分数进行排名的，所以这里直接用数据库里前250条，
    [当时爬数据的时候，就是先按照顺序爬的250，所以在最前面]，上面的查Top10也是一样）
    -->
    <select id="getTop250Movies" resultType="com.sdu.pojo.Movie">
        select *
        from movie
        limit 0, 250
--         order by rating desc limit 250
    </select>

</mapper>
